<%- include('header') -%>
<section class="rz-section rz-ab-banner">
    <div class="rz-container">
        <div class="ab-banner-row">
            <div class="ab-banner-left">
                <p>Introducing Ritzyware, 
                    a full-service IT company with a mission to provide 
                    comprehensive digital solutions. 
                    Whether it's mobile apps, IT solutions, or anything in between, we've got you covered.</p>
            </div>
            <div class="ab-banner-right">
                <div class="ab-banner-items">
                    <div class="ab-item1">
                        <img src="images/ab-1.png">
                        <img src="images/ab-2.png">
                    </div>
                    <div class="ab-item2">
                        <img src="images/ab-3.png">
                        <img src="images/ab-4.png">
                    </div>
                    <div class="ab-item3">
                        <div class="ab-itemlast">
                            <img src="images/ab-5.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-ab-history">
    <div class="rz-container">
        <div class="ab-history-row">
            <div class="history-full">
                <img src="images/ab-history.png">
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-ab-testi">
    <div class="testi-full-title">
        <h1>Client’s Testimonials</h1>
    </div>
    <div class="rz-container">
        <div class="ab-testi-row">
            <div class="testi-full">
                <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed.</p>
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-ab-member1">
    <div class="ab-member1-row">
        <div class="member1-left">
            <img src="images/member-1.png">
        </div>
        <div class="member1-right">
            <h1>Pulkit</h1>
            <h4>Founder</h4>
            <p>With more than 13+ Yrs. of Experience in IT Services and
             product development. He is deeply involved in developing and 
            managing SASS business across multiple channels.
             He is an expert in solving pain areas of businesses with help 
            of technology and providing solutions.</p>
        </div>
    </div>
</section>
<section class="rz-section rz-ab-member1 member2">
    <div class="ab-member1-row">
        <div class="member1-right">
            <div class="member2-left">
                <h1>Nikita</h1>
                <h4>Administrative Manager</h4>
                <p>With more than 13+ Yrs. of Experience in IT Services and
                 product development. He is deeply involved in developing and 
                managing SASS business across multiple channels.
                 He is an expert in solving pain areas of businesses with help 
                of technology and providing solutions.</p>
            </div>
        </div>
        <div class="member1-left">
            <img src="images/member-2.png">
        </div>
    </div>
</section>
<%- include('lets-connect') -%>
<%- include('footer') -%>