<%- include('header') -%>
<section class="rz-section rz-contact">
    <div class="rz-container">
        <div class="lets-contact-row">
            <div class="lets-contact-left">
                <img src="images/lets-connect.png">
                <ul>
                    <li><a href="#"><img src="images/c-facebook.svg"><span>facebook</span></a></li>
                    <li><a href="#"><img src="images/c-inlinked.svg"><span>linkedin</span></a></li>
                    <li><a href="#"><img src="images/c-map.svg"><span>map</span></a></li>
                    <li><a href="#"><img src="images/c-mail.svg"><span>phone</span></a></li>
                    <li><a href="#"><img src="images/c-device.svg"><span>mail</span></a></li>
                </ul>
            </div>
            <div class="lets-contact-right">
                <h1>Let’s Connect!</h1>
                <p>Come let’s join together and <br>change the world.</p>
                <div class="lets-contact-form">
                    <form class="lets-contact-form">
                        <div class="lets-contact-feild rz-half">
                            <input type="text" placeholder="First name*" id="fname"> 
                        </div>
                        <div class="lets-contact-feild rz-half">
                            <input type="text" placeholder="Last name*" id="lname"> 
                        </div>
                        <div class="lets-contact-feild rz-full">
                            <input type="text" placeholder="Email address*" id="emails"> 
                        </div>
                        <div class="lets-contact-feild rz-full">
                            <input type="text" placeholder="Mobile No.*" id="mobiles"> 
                        </div>
                        <div class="lets-contact-feild rz-full">
                            <textarea id="msg">Message</textarea>
                        </div>
                        <div class="lets-contact-feild rz-full">
                            <input type="submit" value="Start Collaborating" id="rz-submit"> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('footer') -%>