<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--srart Template style --> 
		<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="/css/swiper-bundle.min.css" type="text/css">
		<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<link rel="stylesheet" href="/css/responsive.css" type="text/css">
	</head>
<body>
	<header class="rz-header rz-section">
		<div class="rz-container">
			<div class="toprow">
				<div class="top-left">
					<a href="/">
						<img src="/images/logo.png" alt="logo">
					</a>
				</div>
				<div class="top-right">
					<a href="javascript:;" id="bar"><i class="fa fa-bars" aria-hidden="true"></i></a>
					<ul>
						<a href="javascript:;" id="close"><i class="fa fa-times" aria-hidden="true"></i></a>
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/services">Services</a></li>
						<li><a href="/portfolio">Portfolio</a></li>
						<li><a href="/abouts">About Us</a></li>
						<li><a href="/contactus">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>