<%- include('header') -%>
<section class="rz-section rz-banner">
    <div class="rz-container">
        <div class="bannerrow">
            <div class="banner-left">
                <h1>Empower <span>Your</span></h1>
                <h1 class="banner2-text">Business <span>With</span></h1>
                <h3>innovative</h3>
                <h5>Technology <span>Solutions</span></h5>
                <p>One stop solution for all your IT needs. We offer a wide range of digital products and services to help you stay ahead in today's ever-evolving technological landscape.</p>
            </div>
            <div class="banner-right">
                <div class="banner-img">
                    <img src="/images/header-pic.png" class="banner-main11">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-who-are-we">
    <div class="rz-container">
        <div class="who-are-row">
            <div class="who-are-left">
                <img src="/images/header-pic-main.png" class="who-are-main22">				
            </div>
            <div class="who-are-right">
                <h2>Who Are We?</h2>
                <h1>Tech-Savvy</h1>
                <p>Introducing <span>Ritzyware</span>, a full-service IT company with a mission to provide comprehensive digital solutions. Whether it's mobile apps, IT solutions, or anything in between, we've got you covered. With our flexible and proven methodology, we guarantee that our deliverables not only meet but exceed your expectations. Let us help you drive your business forward with the power of technology</p>
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-what-we-do">
    <div class="rz-container">
        <div class="what-we-do">
            <h2>What We Do?</h2>
            <h1>Integration</h1>
        </div>
        <div class="what-we-do1">
            <div class="what-we-do-item">
                <img src="/images/what-we-1.png">
                <h4>Web Development</h4>
                <div class="what-we-do-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempordipising elit, sed do eiusmod tempor</p>
                    <a href="javascript:;" id="what-we-link"><img src="/images/arrow.png"></a>
                </div>
                <div class="what-we-do-bottom">
                    <div class="what-b-left">
                        <img src="/images/user1.png">
                        <span>Lina</span>
                    </div>
                    <div class="what-b-right">
                        <span class="small">$100</span>
                        <span class="big">$80</span>
                    </div>
                </div>
            </div>
            <div class="what-we-do-item">
                <img src="/images/what-we-1.png">
                <h4>Web Development</h4>
                <div class="what-we-do-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempordipising elit, sed do eiusmod tempor</p>
                    <a href="javascript:;" id="what-we-link"><img src="/images/arrow.png"></a>
                </div>
                <div class="what-we-do-bottom">
                    <div class="what-b-left">
                        <img src="/images/user1.png">
                        <span>Lina</span>
                    </div>
                    <div class="what-b-right">
                        <span class="small">$100</span>
                        <span class="big">$80</span>
                    </div>
                </div>
            </div>
            <div class="what-we-do-item">
                <img src="/images/what-we-1.png">
                <h4>Web Development</h4>
                <div class="what-we-do-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempordipising elit, sed do eiusmod tempor</p>
                    <a href="javascript:;" id="what-we-link"><img src="/images/arrow.png"></a>
                </div>
                <div class="what-we-do-bottom">
                    <div class="what-b-left">
                        <img src="/images/user1.png">
                        <span>Lina</span>
                    </div>
                    <div class="what-b-right">
                        <span class="small">$100</span>
                        <span class="big">$80</span>
                    </div>
                </div>
            </div>
            <div class="what-we-do-item">
                <img src="/images/what-we-1.png">
                <h4>Web Development</h4>
                <div class="what-we-do-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempordipising elit, sed do eiusmod tempor</p>
                    <a href="javascript:;" id="what-we-link"><img src="/images/arrow.png"></a>
                </div>
                <div class="what-we-do-bottom">
                    <div class="what-b-left">
                        <img src="/images/user1.png">
                        <span>Lina</span>
                    </div>
                    <div class="what-b-right">
                        <span class="small">$100</span>
                        <span class="big">$80</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-client">
    <div class="rz-container">
        <div class="client-row">
            <h1>Our Client Family</h1>
        </div>
    </div>
    <div class="client-row1">
        <div class="swiper client-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <h3>Logo</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('lets-connect') -%>
<%- include('footer') -%>