<section class="rz-section rz-lets-connect">
    <div class="rz-container">
        <div class="lets-connect-row">
            <div class="lets-connect-left">
                <img src="images/lets-connect.png">
            </div>
            <div class="lets-connect-right">
                <h1>Let’s Connect!</h1>
                <p>Come let’s join together and change the world.</p>
                <a href="javascript:;">Start Collaborating</a>
            </div>
        </div>
    </div>
</section>