<%- include('header') -%>
<section class="rz-section rz-prot-banner">
    <div class="rz-container">
        <div class="prot-banner-row">
            <div class="prot-banner-left">
                <img src="images/banner-image.png">
            </div>
            <div class="prot-banner-right">
                <p>Introducing Ritzyware, a full-service IT company with a mission to provide comprehensive digital solutions. Whether it's mobile apps, IT solutions, or anything in between, we've got you covered.</p>
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-prot-tab">
    <div class="rz-container">
        <div class="prot-tab-row">
            <ul>
                <li class="active-tab"><a href="javascript:;" dataid="all">All</a></li>
                <li><a href="javascript:;" dataid="webdevelopment">Web Development</a></li>
                <li><a href="javascript:;" dataid="App">Hybrid App</a></li>
                <li><a href="javascript:;" dataid="LMS">LMS</a></li>
            </ul>
        </div>
        <div class="prot-tab-row2 mar-70">
            <div class="tab-row2-left">
                <div class="tab-row2-img">
                    <img src="images/tab1.png">
                    <h3>Company Name</h3>
                </div>
            </div>
            <div class="tab-row2-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed.</p>
            </div>
        </div>
        <div class="prot-tab-row2 mar-70">
            <div class="tab-row2-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed.</p>
            </div>
            <div class="tab-row2-left">
                <div class="tab-row2-img">
                    <img src="images/tab1.png">
                    <h3>Company Name</h3>
                </div>
            </div>
        </div>
        <div class="prot-tab-row2">
            <div class="tab-row2-left">
                <div class="tab-row2-img">
                    <img src="images/tab1.png">
                    <h3>Company Name</h3>
                </div>
            </div>
            <div class="tab-row2-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed.</p>
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-prot-text">
    <div class="rz-container">
        <div class="text-row">
            <p>Introducing Ritzyware,<br> a full-service IT company with a mission to provide<br> comprehensive digital solutions.<br> Whether it's mobile apps, IT solutions, or anything in between, we've got you covered.</p>
        </div>
    </div>
</section>
<section class="rz-section rz-prot-tab">
    <div class="rz-container">
        <div class="prot-tab-row2 mar-70">
            <div class="tab-row2-left">
                <div class="tab-row2-img">
                    <img src="images/tab1.png">
                    <h3>Company Name</h3>
                </div>
            </div>
            <div class="tab-row2-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed.</p>
            </div>
        </div>
        <div class="prot-tab-row2">
            <div class="tab-row2-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod temporLorem ipsum dolor sit amet, consectetur adipising elit, sed.</p>
            </div>
            <div class="tab-row2-left">
                <div class="tab-row2-img">
                    <img src="images/tab1.png">
                    <h3>Company Name</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('lets-connect') -%>
<%- include('footer') -%>