<%- include('header') -%>
<section class="rz-section rz-ser-banner">
    <div class="rz-container">
        <div class="ser-banner-row">
            <div class="ser-banner-left">
                <h1>What We Do?</h1>
                <p>Write 3-4 line about the team and company and what we offer. </p>
                <p>Lorem Ipsum aslkjasd aklsdj askl jasd lkasd laksdj alskdjl kasd alksad Write 3-4 line about the team and company and what we offer. </p>
                <p>Lorem Ipsum aslkjasd aklsdj askl jasd lkasd laksdj alskdjl kasd alksad Write 3-4 line about the team and company and what we offer. </p>
                <p>Lorem Ipsum aslkjasd aklsdj askl jasd lkasd laksdj alskdjl kasd alksad</p>
            </div>
            <div class="ser-banner-right">
                <img src="images/Inforgraphics.png">
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-web-develop">
    <div class="web-develop-heading">
        <img src="images/serv-icon1.svg">
        <h3>Web Development</h3>
    </div>
    <div class="rz-container">
        <div class="web-develop-row">
            <div class="web-develop-left">
                <p>Our web application developers understand the importance of a strong information architecture design and integrated branding that draws customers in from the moment they land on your website. To tap into their emotional connection to your site and foster loyalty, engagement with your customers is essential. Web application design with targeted features and website development with sound coding are what go into creating a fantastic design that gives your organisation a competitive edge.</p>
                <a href="javascript:;">Read More</a>
            </div>
            <div class="web-develop-right">
                <img src="images/ser-1.png">
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-native">
    <div class="native-heading">
        <img src="images/serv-icon2.svg">
        <h3>Native/Hybrid Apps</h3>
    </div>
    <div class="rz-container">
        <div class="native-row">
            <div class="native-right">
                <img src="images/ser-2.png">
            </div>
            <div class="native-left">
                <p>Our web application developers understand the importance of a strong information architecture design and integrated branding that draws customers in from the moment they land on your website. To tap into their emotional connection to your site and foster loyalty, engagement with your customers is essential. Web application design with targeted features and website development with sound coding are what go into creating a fantastic design that gives your organisation a competitive edge.</p>
                <a href="javascript:;">Read More</a>
            </div>
            
        </div>
    </div>
</section>
<section class="rz-section rz-LMS">
    <div class="LMS-heading">
        <img src="images/serv-icon3.svg">
        <h3>LMS System</h3>
    </div>
    <div class="rz-container">
        <div class="LMS-row">
            <div class="LMS-left">
                <p>Our web application developers understand the importance of a strong information architecture design and integrated branding that draws customers in from the moment they land on your website. To tap into their emotional connection to your site and foster loyalty, engagement with your customers is essential. Web application design with targeted features and website development with sound coding are what go into creating a fantastic design that gives your organisation a competitive edge.</p>
                <a href="javascript:;">Read More</a>
            </div>
            <div class="LMS-right">
                <img src="images/ser-3.png">
            </div>
        </div>
    </div>
</section>
<section class="rz-section rz-hosting">
    <div class="hosting-heading">
        <img src="images/serv-icon4.svg">
        <h3>Native/Hybrid Apps</h3>
    </div>
    <div class="rz-container">
        <div class="hosting-row">
            <div class="hosting-right">
                <img src="images/ser-4.png">
            </div>
            <div class="hosting-left">
                <p>Our web application developers understand the importance of a strong information architecture design and integrated branding that draws customers in from the moment they land on your website. To tap into their emotional connection to your site and foster loyalty, engagement with your customers is essential. Web application design with targeted features and website development with sound coding are what go into creating a fantastic design that gives your organisation a competitive edge.</p>
                <a href="javascript:;">Read More</a>
            </div>
            
        </div>
    </div>
</section>
<%- include('lets-connect') -%>
<%- include('footer') -%>